/target
/target-docker
.vscode
*.out
*.swp
tests/build/
build/*
*.lock

build-tests/
.apas
.rusty-parity/
.rusty-parity-matrix/
.rusty-parity-matrix*/
gcm.cache/
tests/transpile_tests/pollster/
tests/transpile_tests/serde_bytes/
tests/transpile_tests/serde_repr/
tests/transpile_tests/serde/
tests/transpile_tests/serde_core/
tests/transpile_tests/toml/
